<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css -->
    <script>
        document.write('<link rel="stylesheet" href="/static/style.css?v=' + Date.now() + '">');
    </script>
    <!-- htmx library -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Formula Documentation</title>
</head>
<body>
    <div id="formula-docs-about">
        <h1>Formula Documentation</h1>
        <p>This is the formula documentation page. Here you can find information about the formulas currently supported by rfnd.</p>
        <p>To insert a tag into the formula, click on the button of the tag you want to insert or enter the tag id manually into the formula input field.</p>
    </div>

    <div id="formula-docs-list">
        <ul>
            <li>Addition: =ADD(TAG1, TAG2)</li>
        </ul>
    </div>
</body>
</html>