<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css -->
    <script>
        document.write('<link rel="stylesheet" href="/static/style.css?v=' + Date.now() + '">');
    </script>
    <!-- htmx library -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>REFINED</title>
</head>
<body>
    <h1>Welcome to REFINED Industrial Analytics</h1>

    <div id="get-tag-id">
        <form hx-post="/get-tag-id" hx-trigger="submit" hx-target="#plot-area">
            <input type="text" name="tag_id" class="input" placeholder="Enter tag ID">
            <input type="submit" class="button" value="Search">
        </form>
    </div>

    <div id="plot-area" >
    </div>
    
</body>
</html>