<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css -->
    <script>
        document.write('<link rel="stylesheet" href="/static/style.css?v=' + Date.now() + '">');
    </script>
    <!-- htmx library -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>rfnd</title>
</head>
<body>
    <h1>Welcome to rfnd Industrial Analytics</h1>

    <div id="get-tag-id">
        <form hx-post="/get-tag-id" hx-trigger="submit" hx-target="#plot-area">
            <input type="text" name="tag_id" class="input" placeholder="Enter tag ID">
            <input type="submit" class="button" value="Search">
        </form>
    </div>

    <div id="time-frame-selector">
        <form hx-trigger="submit" hx-target="#plot-area">
            <input type="text" hx-post='/update-time-frame'name="time_frame" class="input"  placeholder="Enter a time frame (ex: 1 week)">
            <input type="button" hx-post='/go-past' name="go_past" class="button" value="<<">
            <input type="button" hx-post='/go-back' name="go_back" class="button" value="<">
            <input type="button" hx-post='/go-forward' name="go_forward" class="button" value=">">
            <input type="button" hx-post='/go-present' name="go_present" class="button" value=">>">
        </form>
    </div>

    <div id="formula-window">
        <div id="formula-input-container">
            <form id="formula-form" hx-trigger="submit" hx-target="#plot-area">
                <input id="formula-input" type="text" name="operation" class="input" placeholder="Enter formula">
            </form>
        </div>
        <div id="current-tags">
            <ul id="current-tags-list">
            </ul>
        </div>
        <div id="about-formulas">
            <a href="/formula_docs" class="button">About Formulas</a>
        </div>
    </div>

    <div id="time-frame-area">
        
    </div>
    <div id="plot-area">
    </div>
    
</body>
</html>